* {
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}
:root {
    --color-one: #ca0b5f;
    --color-two: white;
    --color-three: dimgray;
    --color-text-footer: ghostwhite;
    --color-body: transparent;
    --scale-logo: 1.7;
    --text-size-bigger: 24px;
    --text-size-big: 20px;
    --text-size-medium: 16px;
    --text-size-small: 14px;
    --max-width: 300px;
}
html, body {
    background: var(--color-body);
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: center;
    height: 100vh;
    width: 100vw;
    background-color: var(--color-body);
    font-family: 'Share Tech Mono', monospace;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: var(--max-width);
    margin: 10px 0 10px 0;
}
figure {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
figure > svg {
    height: 70px;
}
figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-justify: left;
}
h1 {
    font-family: 'Raleway','Arial', sans-serif;
    font-size: 42px;
}
p {
    font-size: var(--text-size-small);
}
main {
    background-color: #bebebe;
    height:auto;
    max-width: var(--max-width);
    height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}
main::-webkit-scrollbar {
    width: 8px;
}
main::-webkit-scrollbar-track {
    display: none;
}
main::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: var(--color-three);
}
.centerH {
    margin-left: auto;
    margin-right: auto;
}
.centerV {
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.grid-sections {
    display: block;
}
#container {
    display: grid;
    grid-template-columns: 140px 20px 140px;
    justify-content: center;
}
#column1 {
    display: block;
    direction: vertical;
}
#column1-row1 {
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: var(--color-three);
}
#column1-row1,
#column1-row2 {
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#column1, #column1-row1, #column1-row2, #column2, #column3 {
    background-color: transparent;
}
#column1-row1 > label,
#column1-row2 > label {
    color: var(--color-three);
    font-size: var(--text-size-big);
    font-weight: bold;
    text-align: right;
    margin-right: 5px;
    margin-top: -1em;
}
#column2 > p,
#column3 > p {
    color: var(--color-three);
    font-size: calc(var(--text-size-bigger));
}
#column2, #column3 {
    font-weight: bold;
}
input {
    height: 100px;
    width: 140px;
    background-color: #D8D8D8;
    font-size: calc(1.5 * var(--text-size-bigger));
    font-weight: bold;
    text-align: center;
    border: hidden;
    border-radius: 5px;
    font-family: 'Share Tech Mono', monospace;
}
input::placeholder {
    text-align: center;
    color: var(--color-three);
    border: hidden;
    font-size: var(--text-size-bigger);
    font-weight: bold;
}

input:focus {
    outline: none;
}

#situation {
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: var(--text-size-bigger);
    justify-content: center;
}
table, summary, details > p {
    font-size: var(--text-size-small);
    text-align: center;
}
summary {
    cursor: pointer;
}
th, details > p {
    background-color: rgb(239, 119, 119);
}
tr:nth-child(odd) {
    background-color: #ce9797;
}
#footer_space {
    height: 40px;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-one);
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    width: 100%;
    text-align: center;
}
footer > p {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    color: var(--color-text-footer);
    width: calc(100% - 20px);
}
footer > p > a {
    text-decoration: none;
    color: var(--color-text-footer);
}

.invert-horizontal {
    display: inline-block;
    transform: scale(-1, 1);
}
.display-none {
    display: none;
}