* {
    margin: 0px;
    padding: 0px;
    -webkit-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    outline: none;
}
:root {
    --color-guava: #ca0b5f;
    --color-white: #ffffff;
    --color-gray-one: #D8D8D8;
    --color-gray-two: #696969;
    --color-body: transparent;
    --max-width: 350px;
}
html, body {
    background: var(--color-body);
    height: 100%;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: flex-start;
    height: 100%;
    width: 100%;
    background-color: var(--color-body);
}
#header-main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
}
#header-main::-webkit-scrollbar {
    width: 8px;
}
#header-main::-webkit-scrollbar-track {
    display: none;
}
#header-main::-webkit-scrollbar-thumb {
    border-radius: 0;
    background: var(--color-gray-one);
}
header {
    width: var(--max-width);
    padding: 10px 0 20px 0;
}
figure {
    float: left;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
figure > svg {
    height: 70px;
    width: 70px;
}
figcaption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-justify: left;
}
h1 {
    font-family: 'Source Code Pro', monospace;
    font-size: 900;
    margin-top: -10px;
    font-size: 42px;
    height: 45px;
    color: var(--color-guava);
}
figcaption > p {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-gray-two);
    text-align: left;
}
#settings {
    float: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    border-left: 1px solid var(--color-gray-one);
    padding-left: 5px;
    margin-right: 10px;
    height: 100%;
    width: 40px;
}
#settings button,
.flag {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: var(--color-gray-two);
    cursor: pointer;
    height: 20px;
    border: none;
    background-color: transparent;
}
.flag {
    border-radius: 5px;
    width: 30px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: transparent;
    height: 100%;
    width: var(--max-width);
    height: 100%;
}
ul {
    list-style: none;
}
#dial {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: var(--max-width);
}
#dial > ul:first-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: calc(var(--max-width) / 2);
}
#dial > ul:first-child > li:not(:nth-child(2)) {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    border: 1px solid var(--color-gray-one);
    border-radius: 10px;
    width: 127px;
    
}
#dial input {
    min-height: 40px;
    width: 107px;
    background-color: transparent;
    padding-right: 20px;
    text-align: right;
    line-height: 20px;
    border: hidden;
    border-radius: 5px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    color: var(--color-gray-two);
    font-size: 35px;
    line-height: 35px;
}
#dial input::placeholder {
    text-align: right;
    color: var(--color-gray-two);
    border: hidden;
    font-size: 20px;
    font-weight: 700;
}
#dial > ul:first-child > li:focus-within {
    outline: 0.5px solid var(--color-gray-two);
    /*
    border-radius: 10px;
    box-shadow: inset 1px 2px 4px #aaaaaa33, 0px 0px 8px #aaaaaacc;
    */
}
#dial ul:first-child label {
    transform-origin: top left;
    transform: translate(-18px, -18px);
    min-width: 40px;
    height: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 13px;
    color: var(--color-gray-two);
    z-index: -1;
}
#fraction-bar {
    height: 5px;
    background-color: transparent;
}
#dial > ul:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: calc(var(--max-width) / 2);
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
}
#dial > ul:last-child p {
    font-size: 35px;
}
#dial > ul:last-child > li:first-child {
    color: var(--color-gray-two);
    width: auto;
}
#dial > ul:last-child > li:last-child {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: auto;
}
#dial > ul:last-child > li:last-child > p {
    width: inherit;
    text-align: left;
    color: var(--color-gray-one);
}
#dial ul:last-child label {
    transform: translate(2px, 3px);
    height: 0;
    font-family: 'Source Code Pro', monospace;
    font-weight: 700;
    font-size: 13px;
    color: var(--color-gray-two);
}
#situation {
    margin-top: 10px;
    text-align: center;
}
#situation > h2 {
    font-size: 24px;
    justify-content: center;
    color: var(--color-gray-two);
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
}
#situation > p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 4px 20px 4px 20px;
    background-color: var(--color-guava);
    color: var(--color-white);
}
#keyboard {
    width: 300px;
}
#keyboard > ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    line-height: 59px;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 10px;
}
.button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 9px;
    width: 88px;
    height: 6vh;
    min-height: 30px;
    border-radius: 10px;
    outline: none;
    border: 1px solid var(--color-gray-one);
    background-color: var(--color-white);
    cursor: pointer;
    font-family: 'Source Code Pro', monospace;
    font-size: 25px;
    font-weight: 900;
    color: var(--color-gray-two);
    box-shadow: 0 3px var(--color-gray-one);
    margin-bottom: 12px;
}
.button:active{
    box-shadow: 0 2px var(--color-gray-one);
    transform: translateY(1px);
}
.button > svg {
    fill: #696969;
    transform: scale(.7);
}
#keyboard > ul > li:last-child .button {
    background-color: var(--color-guava);
    color: var(--color-white);
}
#keyboard > ul > li:last-child .button:hover {
    background-color: var(--color-guava);
    color: var(--color-white);
}
#reference {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
details, table {
    width: var(--max-width);
    line-height: 20px;
}
summary {
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    color: var(--color-gray-two);
    font-weight: 700;
    font-size: 12px;
    text-align: center;
}
table, details > p {
    font-size: 12px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: var(--color-gray-two);
    font-weight:400;
    font-size: 12px;
    margin-bottom: 20px;
}
th, details > p {
    background-color: var(--color-gray-one);
    color: var(--color-gray-two);
}
details > p > a {
    text-decoration: none;
    color: var(--color-gray-two);
    font-weight: 700;
}
tr:nth-child(even) {
    background-color: var(--color-gray-one);
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-guava);
    padding-top: 5px;
    padding-bottom: 5px;
    height: 30px;
    bottom: -30px;
    width: 100%;
    text-align: center;
}
footer > p {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--color-white);
    width: calc(100% - 20px);
}
footer > p > a {
    text-decoration: none;
    color: var(--color-white);
}

.invert-horizontal {
    display: inline-block;
    transform: scale(-1, 1);
}
.display-none {
    display: none;
}